$colorD0D6F9: #D0D6F9;

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fontBellefair {
    font-family: "Bellefair", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0;
}

.crewSection {
    background-image: url("/public/crew/background-crew-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100dvh;
    height: 710px;
    
    @include flex();
    flex-direction: column;

    h1 {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 100;
        font-size: 16px;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        color: white;
        position: absolute;
        top: 88px;

        span {
            color: rgba(255, 255, 255, 0.407);
            font-weight: 400;
            padding: 6px;
        }
    }

    .member {
        @include flex();
        flex-direction: column;

        .imgContainer {
            width: 327px;
            height: 223px;
            position: absolute;
            top: 139px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.407);
            text-align: center;
            img {
                width: 180px;
                height: 222px;
            }
        }

        .memberInformation {
           @include flex();
            flex-direction: column;
            gap: 13px;
            position: absolute;
            top: 394px;

            .crewList {
                width: 88px;
                height: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                li {
                    width: 14px;
                    height: 14px;
                    list-style: none;
                    border: 5px solid rgba(255, 255, 255, 0);
                    border-radius: 100%;
                    cursor: pointer;
                    
                    button {
                        display: none;
                    }
                }
            }

            h2 {
                @include fontBellefair();
                font-size: 16px;
                color: rgba(255, 255, 255, 0.407);
            }

            h3 {
                @include fontBellefair();
                font-size: 24px;
            }

            p {
                color: $colorD0D6F9;
                width: 327px;
                height: 125px;
                text-align: center;
                font-family: "Barlow", sans-serif;
                font-weight: 100;
                font-size: 14.5px;
                letter-spacing: 0;
                line-height: 25px;
            }
        }
    }
}

@media screen and (min-width: 654px) {
    .crewSection {
        background-image: url("/public/crew/background-crew-tablet.jpg");
        height: 1024px;

        h1 {
            top: 136px;
            left: 38.5px;
            font-size: 20px;
            letter-spacing: 3.38px;
        }
    
        .member {
    
            .imgContainer {
                width: 456.4px;
                height: 528px;
                top: 492px;
                border-bottom: none;
    
                img {
                    width: inherit;
                    height: inherit;
                }
            }
    
            .memberInformation {
                top: 210px;
                gap: 10px;

                .crewList {
                    order: 4;
                    margin-top: 50px;
                }
    
                h2 {
                    order: 1;
                    font-size: 24px;
                }
    
                h3 {
                    order: 2;
                    font-size: 40px;
                }
    
                p {
                    order: 3;
                    width: 520px;
                    height: 84px;
                    font-size: 16px;
                    line-height: 28px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .crewSection {
        background-image: url("/public/crew/background-crew-desktop.jpg");
        height: 900px;
        justify-content: flex-end;

        h1 {
            top: 270px
        }
        
        .member {
            display: grid;
            grid-template-areas: "information image";
            grid-template-columns: 500px 434px;

            .imgContainer {
                grid-area: image;
                position: unset;
                align-self: center;
                justify-self: center;
            }
    
            .memberInformation {
                grid-area: information;
                position: unset;
                align-items: start;

                p {
                    text-align: start;
                }
            }

        }
    }
}

@media screen and (min-width: 1440px) {
    .crewSection {
        h1 {
            top: 212px;
            left: 166.5px;
            font-size: 28px;
            letter-spacing: 4.72px;
        }
    
        .member {
            grid-template-columns: 614px 491px;

            .imgContainer {
                width: 568.07px;
                height: 663px;

                img {
                    width: 510px;
                    height: inherit;
                }
            }
    
            .memberInformation {
                margin-top: 40px;
                width: 614px;

                .crewList {
                    order: 4;
                    margin-top: 90px;
                    width: 132px;
                    height: 15px;

                    li {
                        width: 15px;
                        height: 15px;
                    }
                }
    
                h2 {
                    font-size: 32px;
                }
    
                h3 {
                    font-size: 56px;
                    margin: 12px 0;
                }
    
                p {
                    width: 444px;
                    height: 128px;
                    font-size: 18px;
                    line-height: 32px;
                }
            }
        }
    }
}