.homeSection {
    background-image: url("/public/home/background-home-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100dvh;
    background-position: 100%;
}