.homeSection {
  background-image: url("/public/home/background-home-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.homeSection .container {
  width: 327px;
  height: 276px;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}
.homeSection .container .header {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #D0D6F9;
}
.homeSection .container h1 {
  font-family: "Bellefair", sans-serif;
  font-weight: 400;
  font-size: 80px;
  text-transform: uppercase;
  margin: 22px 0;
}
.homeSection .container .description {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.3px;
  margin: 24px 0;
  color: #D0D6F9;
}
.homeSection .btnContainer {
  width: 150px;
  height: 150px;
}
.homeSection .btnContainer .exploreBtn {
  border: 1px solid white;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  font-size: 23px;
  background-color: white;
  color: black;
  font-family: "Bellefair", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

@media screen and (min-width: 768px) {
  .homeSection {
    background-image: url("/public/home/background-home-tablet.jpg");
    padding: 94px 0;
  }
  .homeSection .container {
    width: 450px;
    height: 334px;
    padding: 0;
    margin-top: 0;
  }
  .homeSection .container .header {
    font-size: 20px;
    letter-spacing: 3.38px;
    margin: 0;
  }
  .homeSection .container h1 {
    font-size: 150px;
  }
  .homeSection .container .description {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
  .homeSection .btnContainer {
    width: 242px;
    height: 242px;
  }
  .homeSection .btnContainer .exploreBtn {
    margin: 70px 0;
    width: inherit;
    height: inherit;
    font-size: 32px;
  }
}
@media screen and (min-width: 1020px) {
  .homeSection {
    background-image: url("/public/home/background-home-desktop.jpg");
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "description button";
    grid-template-columns: 1fr 1fr;
    padding: 135px 165px;
  }
  .homeSection .container {
    width: 450px;
    height: 382px;
    text-align: start;
    grid-area: description;
    align-self: self-end;
    justify-self: start;
  }
  .homeSection .container .header {
    font-size: 28px;
    letter-spacing: 4.72px;
    margin: 0;
  }
  .homeSection .container h1 {
    font-size: 150px;
  }
  .homeSection .container .description {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0;
  }
  .homeSection .btnContainer {
    width: 274px;
    height: 274px;
    grid-area: button;
    align-self: self-end;
    justify-self: end;
  }
  .homeSection .btnContainer .exploreBtn {
    width: inherit;
    height: inherit;
    font-size: 32px;
    margin: 0;
  }
  .homeSection .btnContainer .exploreBtn:hover {
    transition: 1s;
    box-shadow: 0px 0px 0px 82px rgba(151, 151, 151, 0.2509803922);
  }
}/*# sourceMappingURL=Home.module.css.map */