$paragraphColor: #D0D6F9;

.homeSection {
    background-image: url("/public/home/background-home-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    .container {
        width: 327px;
        height: 276px;
        text-align: center;
        margin-top: 90px;

        .header {
            font-family: "Barlow Condensed", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 2.7px;
            text-transform: uppercase;
            margin-top: 22px;
            color:$paragraphColor;
        }
    
        h1 {
            font-family: "Bellefair", sans-serif;
            font-weight: 400;
            font-size: 80px;
            text-transform: uppercase;
            margin-top: 22px;
        }
    
        .description {
            font-family: "Barlow", sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: -0.3px;
            margin-top: 24px;
            color:$paragraphColor;
        }
    }

    .exploreBtn {
        border: 1px solid white;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        font-size: 23px;
        background-color: white;
        color: black;
        font-family: "Bellefair", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.25px;
        margin-top: 104px;
    }
}

@media screen and (min-width: 798px) {
    .homeSection {
        background-image: url("/public/home/background-home-tablet.jpg");
    }
}

@media screen and (min-width: 1020px) {
    .homeSection {
        background-image: url("/public/home/background-home-desktop.jpg");
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .container {
            width: 450px;
            height: 382px;
            text-align: start;
            margin: 165px 0 50px 50px;

            .header {
                font-size: 28px;
                letter-spacing: 4.72px;
                margin: 0;
            }

            h1 {
                font-size: 150px;
            }

            .description {
                font-size: 18px;
                line-height: 32px;
                letter-spacing: 0;
            }
        }
        
        .exploreBtn {
            width: 274px;
            height: 274px;
            font-size: 32px;
            margin-top: 290px;
            &:hover {
                transition: 1s;
                box-shadow: 0px 0px 0px 82px #97979740;
            }
        }
    }
}