.navBar {
    position: absolute;
    top: 5px;
    padding: 12px 18px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .navBar {
        top: 12px;
        padding: 52px;
    }
}