@mixin flexRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin liStyle {
    @include flexRow(); 
    text-transform: uppercase;
    letter-spacing: 2.7px;
    height: inherit;
    border-bottom: 3px solid transparent;
    font-weight: 200;

    span {
        display: contents;
        font-weight: 500;
    }
}

@mixin burgerMenu {
    position: fixed;
    top: 0;
    height: 100vh;
    backdrop-filter: blur(30px);
    border: 1px solid black;
    transition: 0.3s linear;

    .closeButton {
        text-align: right;
        padding-top: 30px;
        padding-right: 20px;
    }

    .burgerMenuNavLinks {
        list-style: none;
        padding: 20px 0 20px 10px;
        margin: 20px 0;

        li {
            @include liStyle();
            padding: 17px 6px;
            margin: 15px 0 15px 10px;
            height: 31px;
            border-right: 4px solid white;
            border-right-color: white;
            &:active {
                border-right-color: white;
            }
        }
    }
}

.navBar {
    position: absolute;
    top: 5px;
    padding: 12px 18px;
    
   @include flexRow();
    justify-content: space-between;
    width: 100%;
}

// Burger Menu - Start //

.burgerMenuOpen {
   @include burgerMenu();
   right: 0;
   width: 254px;
}

.burgerMenuClose {
   @include burgerMenu();
   right: -254px;
   width: 0;
}

// Burger Menu - End //

@media screen and (min-width: 654px) {
    .navBar {
        top: 0;
        padding: 0;
        padding-left: 30px;
        
        hr {
            display: none;
        }

        .navLinks {
            @include flexRow();
            justify-content: center;
            gap: 36px;
    
            width: 450px;
            height: 96px;
            background-color: rgba(255, 255, 255, 0.04);
            border: 1px solid rgba(255, 255, 255, 0.04);
            list-style: none;

            li {
                @include liStyle();
                font-size: 14px;
                font-weight: 400;
                &:hover {
                    border-color: rgba(255, 255, 255, 0.372);
                }
                &:active {
                    border-bottom-color: white;
                }
    
                span {
                    display: none;
                }
            }   
        }
    }
}

@media screen and (min-width: 1024px) {
    .navBar {
        top: 30px;
        padding-left: 52px;
        padding-right: 0;

        hr {
            display: block;
            position: relative;
            z-index: 1;
            left: 50px;
            width: 473px;
            height: 1px;
            background-color: rgba(225, 225, 225, 0.206);
            font-size: 0;
            border: none;
        }
    
        .navLinks {
            @include flexRow();
            justify-content: center;
            gap: 66px;
    
            width: 830px;
            height: 96px;
            backdrop-filter: blur(30px);
            border: 1px solid rgba(255, 255, 255, 0.04);
            list-style: none;

            li {
                @include liStyle();
                &:hover {
                    border-color: rgba(255, 255, 255, 0.372);
                }
                &:active {
                    border-bottom-color: white;
                }
            }   
        }
    }
}