.navBar {
  position: absolute;
  top: 24px;
  padding: 12px 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.burgerMenuOpen {
  position: fixed;
  top: 0;
  height: 100vh;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border: 1px solid black;
  transition: 0.3s linear;
  right: 0;
  width: 254px;
  z-index: 1;
}
.burgerMenuOpen .closeButton {
  text-align: right;
  padding-top: 30px;
  padding-right: 20px;
}
.burgerMenuOpen ul {
  list-style: none;
  padding: 20px 0 20px 10px;
  margin: 20px 0;
}
.burgerMenuOpen ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  height: inherit;
  border-bottom: 3px solid transparent;
  font-weight: 200;
  padding: 17px 6px;
  margin: 15px 0 15px 10px;
  height: 31px;
  border-right: 4px solid transparent;
}
.burgerMenuOpen ul li span {
  display: contents;
  font-weight: 500;
}
.burgerMenuOpen ul li:active {
  border-right-color: white;
}

.burgerMenuClose {
  position: fixed;
  top: 0;
  height: 100vh;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border: 1px solid black;
  transition: 0.3s linear;
  right: -254px;
  width: 0;
}
.burgerMenuClose .closeButton {
  text-align: right;
  padding-top: 30px;
  padding-right: 20px;
}
.burgerMenuClose ul {
  list-style: none;
  padding: 20px 0 20px 10px;
  margin: 20px 0;
}
.burgerMenuClose ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  height: inherit;
  border-bottom: 3px solid transparent;
  font-weight: 200;
  padding: 17px 6px;
  margin: 15px 0 15px 10px;
  height: 31px;
  border-right: 4px solid transparent;
}
.burgerMenuClose ul li span {
  display: contents;
  font-weight: 500;
}
.burgerMenuClose ul li:active {
  border-right-color: white;
}

@media screen and (min-width: 654px) {
  .navBar {
    top: 0;
    padding: 0;
    padding-left: 30px;
  }
  .navBar .emptySpace {
    display: none;
  }
  .navBar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 36px;
    width: 450px;
    height: 96px;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.04);
    list-style: none;
  }
  .navBar ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    height: inherit;
    border-bottom: 3px solid transparent;
    font-weight: 200;
    font-size: 14px;
    font-weight: 400;
  }
  .navBar ul li span {
    display: contents;
    font-weight: 500;
  }
  .navBar ul li:hover {
    border-color: rgba(255, 255, 255, 0.372);
  }
  .navBar ul li:active {
    border-bottom-color: white;
  }
  .navBar ul li span {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .navBar {
    top: 40px;
    padding-left: 52px;
    padding-right: 0;
  }
  .navBar .barContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 90%;
  }
  .navBar .barContainer .emptySpace {
    display: block;
    position: relative;
    z-index: 1;
    left: 15px;
    width: 250px;
    height: 1px;
    background-color: rgba(225, 225, 225, 0.206);
    font-size: 0;
    border: none;
  }
  .navBar ul {
    gap: 66px;
    width: 830px;
    height: 96px;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.04);
    list-style: none;
  }
  .navBar ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    height: inherit;
    border-bottom: 3px solid transparent;
    font-weight: 200;
  }
  .navBar ul li span {
    display: contents;
    font-weight: 500;
  }
  .navBar ul li:hover {
    border-color: rgba(255, 255, 255, 0.372);
  }
  .navBar ul li:active {
    border-bottom-color: white;
  }
}
@media screen and (min-width: 1440px) {
  .navBar .barContainer .emptySpace {
    left: 50px;
    width: 473px;
  }
}/*# sourceMappingURL=NavBar.module.css.map */