$colorD0D6F9: #D0D6F9;

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.destinationSection {
    background-image: url("/public/destination/background-destination-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100dvh;
    background-color: whitesmoke;
    z-index: 1;
    
    @include flex();
    flex-direction: column;

    h1 {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 100;
        font-size: 16px;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        color: white;
        position: absolute;
        top: 88px;

        span {
            color: rgba(255, 255, 255, 0.407);
            font-weight: 400;
            padding: 6px;
        }
    }

    .destination {
        @include flex();
        flex-direction: column;

        .imgContainer {
            width: 170px;
            height: 170px;
            position: absolute;
            top: 139px;
            animation-name: spin-me;
            animation-duration: 30000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
    
            img {
                width: inherit;
                height: inherit;
            }
        }

        .objectInformation {
           @include flex();
            flex-direction: column;
            gap: 13px;
            position: absolute;
            top: 335px;

            .objectsList {
                width: 237.5px;
                height: 28px;
                display: flex;
                flex-direction: row;
                gap: 27px;

                li {
                    list-style: none;
                    button {
                        cursor: pointer;
                        color: $colorD0D6F9;
                        font-family: "Barlow Condensed", sans-serif;
                        font-weight: 100;
                        font-size: 14px;
                        letter-spacing: 2.36px;
                        text-transform: uppercase;
                        border: none;
                        background-color: transparent;
                    }
                }
            }

            h2 {
                width: 187px;
                height: 64px;
                font-family: "Bellefair", sans-serif;
                font-weight: 200;
                font-size: 56px;
                text-transform: uppercase;
                letter-spacing: 0;
            }

            p {
                color: $colorD0D6F9;
                width: 327px;
                height: 125px;
                text-align: center;
                font-family: "Barlow", sans-serif;
                font-weight: 100;
                font-size: 15px;
                letter-spacing: 0;
                line-height: 25px;
            }
        }

        .travelingDistance {
            width: 327px;
            text-align: center;
            border-top: 2px solid #383B4B;
            margin-top: 13px;
            padding-top: 23px;

            ul {
                list-style: none;
                text-transform: uppercase;
                padding: 12px;

                .header {
                    color: $colorD0D6F9;
                    font-family: "Barlow Condensed", sans-serif;
                    font-weight: 100;
                    letter-spacing: 2.36px;
                    font-size: 14px;
                    margin: 10px;
                }

                .info {
                    font-family: "Bellefair", sans-serif;
                    font-weight: 100;
                    font-size: 28px;
                    letter-spacing: 0;
                    margin: 8px;
                }
            }
        }
    }

   
}

@keyframes spin-me {
    from {
        transform:rotate(0deg);
    }

    to {
        transform:rotate(360deg);
    }
}

@media screen and (min-width: 768px) {
    .destinationSection {
        background-image: url("/public/destination/background-destination-tablet.jpg");
        height: 1024px;

        h1 {
            top: 136px;
            left: 38.5px;
            font-size: 20px;
            letter-spacing: 3.38px;
        }

        .destination {
            .imgContainer {
                width: 300px;
                height: 300px;
                top: 220px;
            }

            .objectInformation {
                top: 573px;

                .objectsList {
                    width: 285.5px;
                    height: 34px;
    
                    li {
                        button {
                            font-size: 16px;
                            letter-spacing: 2.7px;
                        }
                    }
                }

                h2 {
                    width: 266px;
                    height: 92px;
                    font-size: 80px;
                }

                p {
                    width: 573px;
                    height: 84px;
                    font-size: 16px;
                    line-height: 28px;
                }

                .travelingDistance {
                    width: 573px;
                    height: 90px;
                    display: block;
                    margin-top: 50px;

                    ul {
                        display: inline-block;
                        padding: 12px 50px;
                    }
                }
            }

        }
        
    }
}

@media screen and (min-width: 1020px) {
    .destinationSection {
        background-image: url("/public/destination/background-destination-desktop.jpg");
        height: 900px;

        h1 {
            top: 212px;
            left: 166.5px;
            font-size: 28px;
            letter-spacing: 4.72px;
        }

        .destination {
            margin-top: 210px;
            display: grid;
            grid-template-areas: "img information";
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: center;
            gap: 20%;

            .imgContainer {
                align-self: center;
                grid-area: img;
                width: 445px;
                height: 445px;
                position: unset;
            }

            .objectInformation {
                width: 445px;
                height: 472px;
                grid-area: information;
                position: unset;
                justify-content: start;
                align-items: flex-start;

                .objectsList {
                    width: 285.5px;
                    height: 34px;
    
                    li {
                        button {
                            font-size: 16px;
                            letter-spacing: 2.7px;
                        }
                    }
                }

                h2 {
                    width: 333px;
                    height: 155px;
                    font-size: 100px;
                }

                p {
                    text-align: unset;
                    width: 456px;
                    height: 128px;
                    font-size: 18px;
                    line-height: 32px;
                }

                .travelingDistance {
                    text-align: start;
                    width: 444px;
                    height: 90px;
                    display: block;
                    margin-top: 50px;

                    ul {
                        display: inline-block;
                        padding: 0;
                        padding-right: 70px;

                        .info {
                            margin: 8px 0;
                        }
                    }
                }
        }   }
    }
}