.destinationSection {
  background-image: url("/public/destination/background-destination-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.destinationSection h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 88px;
}
.destinationSection h1 span {
  color: rgba(255, 255, 255, 0.407);
  font-weight: 400;
  padding: 6px;
}
.destinationSection .destination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.destinationSection .destination .imgContainer {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 139px;
}
.destinationSection .destination .imgContainer img {
  width: inherit;
  height: inherit;
}
.destinationSection .destination .objectInformation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 13px;
  position: absolute;
  top: 335px;
}
.destinationSection .destination .objectInformation .objectsList {
  width: 237.5px;
  height: 28px;
  display: flex;
  flex-direction: row;
  gap: 27px;
}
.destinationSection .destination .objectInformation .objectsList li {
  list-style: none;
}
.destinationSection .destination .objectInformation .objectsList li button {
  cursor: pointer;
  color: #D0D6F9;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 2.36px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}
.destinationSection .destination .objectInformation h2 {
  width: 187px;
  height: 64px;
  font-family: "Bellefair", sans-serif;
  font-weight: 200;
  font-size: 56px;
  text-transform: uppercase;
  letter-spacing: 0;
}
.destinationSection .destination .objectInformation p {
  color: #D0D6F9;
  width: 327px;
  height: 125px;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px;
}
.destinationSection .destination .travelingDistance {
  width: 327px;
  text-align: center;
  border-top: 2px solid #383B4B;
  margin-top: 13px;
  padding-top: 23px;
}
.destinationSection .destination .travelingDistance ul {
  list-style: none;
  text-transform: uppercase;
  padding: 12px;
}
.destinationSection .destination .travelingDistance ul .header {
  color: #D0D6F9;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  letter-spacing: 2.36px;
  font-size: 14px;
  margin: 10px;
}
.destinationSection .destination .travelingDistance ul .info {
  font-family: "Bellefair", sans-serif;
  font-weight: 100;
  font-size: 28px;
  letter-spacing: 0;
  margin: 8px;
}

@media screen and (min-width: 768px) {
  .destinationSection {
    background-image: url("/public/destination/background-destination-tablet.jpg");
    height: 1024px;
  }
  .destinationSection h1 {
    top: 136px;
    left: 38.5px;
    font-size: 20px;
    letter-spacing: 3.38px;
  }
  .destinationSection .destination .imgContainer {
    width: 300px;
    height: 300px;
    top: 220px;
  }
  .destinationSection .destination .objectInformation {
    top: 573px;
  }
  .destinationSection .destination .objectInformation .objectsList {
    width: 285.5px;
    height: 34px;
  }
  .destinationSection .destination .objectInformation .objectsList li button {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .destinationSection .destination .objectInformation h2 {
    width: 266px;
    height: 92px;
    font-size: 80px;
  }
  .destinationSection .destination .objectInformation p {
    width: 573px;
    height: 84px;
    font-size: 16px;
    line-height: 28px;
  }
  .destinationSection .destination .objectInformation .travelingDistance {
    width: 573px;
    height: 90px;
    display: block;
    margin-top: 50px;
  }
  .destinationSection .destination .objectInformation .travelingDistance ul {
    display: inline-block;
    padding: 12px 50px;
  }
}
@media screen and (min-width: 1020px) {
  .destinationSection {
    background-image: url("/public/destination/background-destination-desktop.jpg");
    height: 900px;
  }
  .destinationSection h1 {
    top: 212px;
    left: 166.5px;
    font-size: 28px;
    letter-spacing: 4.72px;
  }
  .destinationSection .destination {
    margin-top: 210px;
    display: grid;
    grid-template-areas: "img information";
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20%;
  }
  .destinationSection .destination .imgContainer {
    align-self: center;
    grid-area: img;
    width: 445px;
    height: 445px;
    position: unset;
  }
  .destinationSection .destination .objectInformation {
    width: 445px;
    height: 472px;
    grid-area: information;
    position: unset;
    justify-content: start;
    align-items: flex-start;
  }
  .destinationSection .destination .objectInformation .objectsList {
    width: 285.5px;
    height: 34px;
  }
  .destinationSection .destination .objectInformation .objectsList li button {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .destinationSection .destination .objectInformation h2 {
    width: 333px;
    height: 155px;
    font-size: 100px;
  }
  .destinationSection .destination .objectInformation p {
    text-align: unset;
    width: 456px;
    height: 128px;
    font-size: 18px;
    line-height: 32px;
  }
  .destinationSection .destination .objectInformation .travelingDistance {
    text-align: start;
    width: 444px;
    height: 90px;
    display: block;
    margin-top: 50px;
  }
  .destinationSection .destination .objectInformation .travelingDistance ul {
    display: inline-block;
    padding: 0;
    padding-right: 70px;
  }
  .destinationSection .destination .objectInformation .travelingDistance ul .info {
    margin: 8px 0;
  }
}/*# sourceMappingURL=Destination.module.css.map */